#calendar-root {
  position: relative;
  margin-top: 15px;
  margin-left: 5px;
  width: calc(100vw - 20px);
  min-height: 850px;
}

#calendar-body {
  position: absolute;
  top: 25px;
}

#daysOfWeek div {
  position: absolute;
  width: calc((100vw - 20px) / 7);
  top: 0;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  border: 1px solid #CCC;
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
  background-color: #222;
  color: #CCC;
  text-transform: uppercase;
}

#daysOfWeek div:first-child {
  left: 0;
}

#daysOfWeek div:nth-child(2) {
  left: calc((100vw - 20px) / 7);
}

#daysOfWeek div:nth-child(3) {
  left: calc(((100vw - 20px) / 7) * 2);
}

#daysOfWeek div:nth-child(4) {
  left: calc(((100vw - 20px) / 7) * 3);
}

#daysOfWeek div:nth-child(5) {
  left: calc(((100vw - 20px) / 7) * 4);
}

#daysOfWeek div:nth-child(6) {
  left: calc(((100vw - 20px) / 7) * 5);
}

#daysOfWeek div:nth-child(7) {
  left: calc(((100vw - 20px) / 7) * 6);
}

.grey {
  color: #CCC;
}

.event {
  background-color: #666;
  color: #FFF !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.5em;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: calc(1.0em + 3px);
  margin-top: -0.5em;
}

.event .hideOnMobile {
  overflow-x: hidden;
  white-space: nowrap;
  line-height: inherit;
}

.hartwick {
  background-color: #161e44;
  border: 2px solid #005EA8;
}

.fss {
  background-color: #005EA8;
  border: 2px solid #E37205;
}

.fsf {
  background-color: #800000;
  border: 2px solid #660000;
}

.oneonta {
  background-color: #008000;
  border: 2px solid #006600;
}

.hideOnMobile, .showOnMobile {
  color: inherit;
}

.event:hover {
  cursor: pointer;
  background-color: #000;
  border-color: #666;
  text-decoration: underline;
}

.plus {
  font-weight: bold;
}

.dayBox {
  position: absolute;
  width: calc((100vw - 10px) / 7);
  height: 100px;
  padding-left: 0.5em;
  line-height: calc(3.0em - 3px);
  padding-top: 3px;
  padding-bottom: 3px;
  /*border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;*/
}

.today {
  font-weight: bold;
  text-decoration: underline overline;
}

.week_1 {
  top: 10px;
}

.week_2 {
  top: 110px;
}

.week_3 {
  top: 210px;
}

.week_4 {
  top: 310px;
}

.week_5 {
  top: 410px;
}

.week_6 {
  top: 510px;
}

.day_1 {
  left: 0;
}

.day_2 {
  left: calc((100vw - 20px) / 7);
}

.day_3 {
  left: calc(((100vw - 20px) / 7) * 2);
}

.day_4 {
  left: calc(((100vw - 20px) / 7) * 3);
}

.day_5 {
  left: calc(((100vw - 20px) / 7) * 4);
}

.day_6 {
  left: calc(((100vw - 20px) / 7) * 5);
}

.day_7 {
  left: calc(((100vw - 20px) / 7) * 6);
}

#key {
  position: absolute;
  top: 660px;
}
