<div>
  <div id="licensing-root">

    <div id="licensing-content">
      <h2 class="center">Licensing</h2>
      <p class="center">A great resource for choosing an open-source license is <a href="http://choosealicense.com/" onclick="target='_blank'">choosealicense.com&#x2197;</a><br />(Keep in mind, however, that the <strong>Hartwick Free Software Society</strong> strongly encourages the use of <a href="#Copyleft">Copyleft</a> Licenses.)</p>
      <a name="GPL" />
      <h1>GNU General Public License</h1>
      <p>The GNU GPL stipulates that any derivatives of a work licensed under the GPL must also be licensed under the GPL or a compatible <a href="#Copyleft">Copyleft</a> license.<br /><br />The latest version of the GPL (GPLv3) may be found here: <a href="https://directory.fsf.org/wiki/License:GPLv3" onclick="target='_blank'">https://directory.fsf.org/wiki/License:GPLv3&#x2197;</a></p>
      <a name="BSD" />
      <h1>BSD Licenses</h1>
      <p>The BSD License is quite simple and only stiuplates that copyright notices must be redistributed and authors of derivatives may not associate themselves with the original author by name without permission. BSD Licensing turned into a quagmire some time ago due to the infamous &quot;advertising clause,&quot; though has been remedied in later revisions. The Modified (or 3-clause) BSD License is non-<a href="#Copyleft">Copyleft</a> but compatible with the <a href="#GPL">GNU GPL</a>.<br /><br />The Free Software Foundation's stance on BSD Licenses can be found here: <a href="https://www.gnu.org/licenses/bsd.en.html" onclick="target='_blank'">https://www.gnu.org/licenses/bsd.en.html&#x2197;</a><br />A template of the latest version of the BSD License can be found here: <a href="https://opensource.org/licenses/BSD-3-Clause" onclick="target='_blank'">https://opensource.org/licenses/BSD-3-Clause&#x2197;</a></p>
      <a name="X11" /><a name="MIT" />
      <h1>MIT (X11) License</h1>
      <p>The MIT License is a very simple non-restrictive non-<a href="#Copyleft">Copyleft</a> License that is compatible with the <a href="#GPL">GNU GPL</a>. It is like an even less restrictive version of the <a href="#BSD">BSD License</a>.<br /><br />There seems to be some disagreement between the Free Software Foundation and the Open Source Initiative concerning the MIT/X11 license.<br />The Free Software Foundation refers to it as the X11 License, and their stance on it can be found here: <a href="https://www.gnu.org/licenses/license-list.en.html#X11License" onclick="target='_blank'">https://www.gnu.org/licenses/license-list.en.html#X11License&#x2197;</a><br />The Open Source Iniative hosts the current version of the MIT License here: <a href="https://opensource.org/licenses/mit-license.php" onclick="target='_blank'">https://opensource.org/licenses/mit-license.php&#x2197;</a></p>
      <a name="Apache" />
      <h1>Apache License</h1>
      <p>The Apache 2.0 License is <a href="#Copyleft">Copyleft</a> and compatible with the <a href="#GPL">GNU GPL</a>. It contains text specific to combating patent trolling.<br /><br />The latest version of the Apache 2.0 License can be found here: <a href="https://directory.fsf.org/wiki/License:Apache2.0" onclick="target='_blank'">https://directory.fsf.org/wiki/License:Apache2.0&#x2197;</a></p>
      <a name="NotGPL-Compatible" />
      <h1>What does it mean when Free Software is &quot;Not GPL-Compatible?&quot;</h1>
      <p>Some software is Free, but contains stipulations that exempt it from compatibility with the <a href="#GPL">GNU GPL</a>.<br /><br />More information can be found here: <a href="https://www.gnu.org/licenses/gpl-faq.html#WhatDoesCompatMean" onclick="target='_blank'">https://www.gnu.org/licenses/gpl-faq.html#WhatDoesCompatMean&#x2197;</a></p>
      <a name="Copyleft" />
      <h1>What is &quot;Copyleft?&quot;</h1>
      <p>Copyleft refers to a license which stipulates all works based on the original retain the same or a compatible license, thus ensuring all of its descendents remain Free Software. Licenses such as <a href="/?Licensing#BSD">BSD</a> and <a href="/?Licensing#MIT">MIT</a> do not enforce Copyleft, hence software under those licenses may be incorporated into other software which might not respect its users' rights.<br /><br />More information can be found on the Free Software Foundation's site here: <a href="https://www.gnu.org/licenses/licenses.html#WhatIsCopyleft" onclick="target='_blank'">https://www.gnu.org/licenses/licenses.html#WhatIsCopyleft&#x2197;</a></p>
    </div>

  </div>

  <div class="reset bigmargin"></div>
</div>
