<div>
  <div id="privacyPolicy-root">

    <div id="privacyPolicy-content">
      <h2 class="center">Privacy Policy</h2>
      <p class="center">This website does not track its visitors and will not share any data it obtains with any third party for any reason within the confines of United States Law.</p>
    </div>

  </div>

  <div class="reset bigmargin"></div>
</div>
