<div>
  <div id="resources-root">

    <div id="resources-content">
      <h2 class="center">Resources</h2>
      <p class="center">The following resources should help you find Free/Libre Open Source alternatives to your favorite proprietary programs, <br class="hideOnMobile" />and help you learn more about the Free Software and Free Culture movements and the importance of Privacy.</p>
      <h1>Alternatives to Proprietary Software</h1>
      <p><strong>Photo &amp; Raster Graphics Editing:</strong> <a href="https://www.gimp.org/" onclick="target='_blank'">The GIMP&#x2197;</a> (GNU Image Manipulation Program)<br /><span class="indent">Alternative to: Adobe Photoshop</span></p>
      <p><strong>Digital Painting:</strong> <a href="https://krita.org/en/download/krita-desktop/" onclick="target='_blank'">Krita&#x2197;</a><br /><span class="indent">Alternative to: Adobe Photoshop</span></p>
      <p><strong>Vector Graphics Editing &amp; Illustration:</strong> <a href="https://inkscape.org/" onclick="target='_blank'">Inkscape&#x2197;</a><br /><span class="indent">Alternative to: Adobe Illustrator</span></p>
      <p><strong>Office Suite:</strong> <a href="https://www.libreoffice.org/" onclick="target='_blank'">LibreOffice&#x2197;</a><br /><span class="indent">Alternative to: Microsoft Office</span></p>
      <p><strong>2D &amp; 3D Drafting &amp; Design:</strong> <a href="http://librecad.org/" onclick="target='_blank'">LibreCAD&#x2197;</a>, <a href="https://www.blender.org" onclick="target='_blank'">Blender&#x2197;</a><br /><span class="indent">Alternatives to: Autodesk AutoCAD, 3D Studio Max, Maya</span></p>
      <p><strong>Programming:</strong> Geany, Emacs, vim, gedit, Kate, Atom<br /><span class="indent">Alternatives to: Microsoft Visual Studio, Adobe Dreamweaver</span></p>
      <!--<p>*Does not use a Copyleft License (<a href="/?Licensing#Copyleft" onclick="target='_blank'">What does this mean?</a>)</p>-->
    </div>

  </div>

  <div class="reset bigmargin"></div>
</div>
