<div>
  <div id="schedule-root">

    <div id="schedule-content">
      <h2 class="center">August 2016</h2>

      <div id="calendar-root">

        <div id="daysOfWeek">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>

        <div id="calendar-body">
          {CALENDAR}
        </div>

        <div id="key">
          <h3>Key:</h3>
          <p class="event hartwick">Hartwick College Events</p>
          <p class="event fss">Hartwick Free Software Society Events</p>
          <p class="event fsf">Free Software Foundation Events</p>
          <p class="event oneonta">Local Community Events</p>
        </div>

      </div>

    </div>

  </div>

  <div class="reset bigmargin"></div>
</div>
