<div>
  <div id="support-root">

    <div id="support-content">
      <h2 class="center">Support</h2>
      <p class="center">Computing with Free Software can be a challenge. <br />Here you will find Resources which should help you solve common issues you may encounter in the world of Free Software.</p>
    </div>

  </div>

  <div class="reset bigmargin"></div>
</div>
